body{
    background-image: url(washington.png);}
    h1{

        
margin-left: 0%;
margin-top: 20px;
font-size: 70px;
font-family: Arial;
background-color: antiquewhite;
border: 2px;color: #000;

    }